<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}">Rachel Media</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if page.url == '/about' %}active{% endif %}"><a href="{{site.baseurl}}/about">About<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="{% if page.url == '/web-development' %}active{% endif %}"><a href="{{site.baseurl}}/web-development">Web Development</a></li>
            <li class="{% if page.url == '/design' %}active{% endif %}"><a href="{{site.baseurl}}/design">Design</a></li>
            <li class="{% if page.url == '/social-media' %}active{% endif %}"><a href="{{site.baseurl}}/social-media">Social Media</a></li>
            <li class="divider"></li>
            <li class="{% if page.url == '/branding' %}active{% endif %}"><a href="{{site.baseurl}}/branding">Branding</a></li>
            <li class="{% if page.url == '/content' %}active{% endif %}"><a href="{{site.baseurl}}/content">Content</a></li>
            <li class="{% if page.url == '/photography' %}active{% endif %}"><a href="{{site.baseurl}}/photography">Photography</a></li>
            <li class="divider"></li>
            <li class="{% if page.url == '/print' %}active{% endif %}"><a href="{{site.baseurl}}/print">Print</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Markets<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="{% if page.url == '/bands' %}active{% endif %}"><a href="{{site.baseurl}}/bands">Bands</a></li>
            <li class="{% if page.url == '/studios' %}active{% endif %}"><a href="{{site.baseurl}}/studios">Studios</a></li>
            <li class="{% if page.url == '/labels' %}active{% endif %}"><a href="{{site.baseurl}}/labels">Labels</a></li>
            <li class="divider"></li>
            <li class="{% if page.url == '/venues' %}active{% endif %}"><a href="{{site.baseurl}}/venues">Venues</a></li>
            <li class="{% if page.url == '/bars' %}active{% endif %}"><a href="{{site.baseurl}}/bars">Bars</a></li>
            <li class="{% if page.url == '/events' %}active{% endif %}"><a href="{{site.baseurl}}/events">Events</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.url == '/portfolio' %}active{% endif %}"><a href="{{site.baseurl}}/portfolio">Portfolio</a></li>
        <li class="{% if page.url == '/testimonials' %}active{% endif %}"><a href="{{site.baseurl}}/testimonials">Testimonials</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Call</a></li>
            <li><a href="#">Email</a></li>
            <li class="divider"></li>
            <li><a href="#">Social Links</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>